@import "reset.less";
@import "var.less";
@import "syntax.less";
@import "typography.less";
@import "iosslider.less";
@import "../fonts/Gandhi/stylesheet.css";

.pictos {
	font-weight: normal!important; 
	font-style: normal!important;
	line-height: 0!important; 
	font-family: 'Pictos', sans-serif!important;
}

/* =========================================================================================


GLOBAL


========================================================================================= */
html	{
	
}
body	{
	color:@bodyColor;
	font-size:@bodyFontSize;
	font-family:@bodyFamily; 
	font-weight: 300;
	line-height:1.6;
	background:url(../img/backgrounds/noisy_net.png) top center repeat @black;
}
	
	body.home {
		-webkit-animation-duration: 2s;
		-webkit-animation-delay: 1s;
		-webkit-animation-iteration-count: 1;
	}
/* =========================================================================================


NAVIGATION


========================================================================================= */
.navbar					{
							.gradientBar(@navGradTop, @navGradBot);
							border-bottom: 2px solid (lighten(@navGradBot, -20%));
							position:fixed;width:100%;
							z-index:10;
							text-align:left;
							padding:8px 20px 6px;
							box-shadow:0 0 4px rgba(0, 0, 0, 0.7);
							-moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.7);
							-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.7);
							//display:none;
							&.alt {
								position:relative;
								float:left;
							}
						}
	.navbarInner		{
							width:@siteWidthFull;
							margin:0 auto;
							position:relative;
							//border-bottom:1px solid (lighten(@black, 18%));
						}
		.navbarInner h1.brand			{
											color:@white;
											font-family: "GandhiSansRegular", Helvetica, Arial, "Lucida Grande", sans-serif; 
											font-size:@bodyFontSize;
											font-weight:normal;
											//text-shadow: 0 -1px 0 (@navGradTop - 40%);
											text-transform:none;
											margin-bottom:0;
											display:block;
											float:left;
										}
			ul.brand	{
				list-style:none;
				float:left;
			}
			ul.nav		{
				list-style:none;
				float:right;
			}
				.navbar ul li {
					float:left;
					padding:0 15px 0 0;
				}
					.navbar ul li a {
						color: @white;
						.transition(0.5s);
						//text-shadow: 0 0 3px rgba(255,255,255,0.3);
						font-size:@bodyFontSize;
						font-family: @bodyFamily;
						&:hover {
							text-decoration:none;
							//color: @black;
							opacity:0.6;
						}
					}
			.navbar ul li a .pictos {font-size:25px;}		
			
/* =========================================================================================


MAIN ELEMENTS


========================================================================================= */			
.wrapper				{
							//width:100%;z-index:10;padding:380px 0 30px;position:relative;
							width:100%;padding:0 0 0;float:left;z-index: 20;
						}
	.container			{
							
						}
		#work			{
							width:100%;
							position:relative;
							//height:98%;
							height:650px;
							//background:url(../img/backgrounds/noisy_net_dark.png) top center repeat @black;
							background: url(../img/backgrounds/gridLight.gif) repeat top left;
							border-bottom:1px solid (lighten(@black, 18%));
						}
			.sliderWrap		{
								//width:100%;
								//height:400px;
								//background:url(../img/backgrounds/noisy_net.png) top center repeat @themeColor;
								overflow:hidden;
							}
			.articleWrap	{
								width:@siteWidthFull;margin:0 auto;padding:5px 20px 20px;clear:both;
							}
					.articleCopy				{
													width:(@siteWidthFull/100)*60;float:left;padding:0 40px 20px 0;
												}
					.itemPurchaseInfo			{
													width:(@siteWidthFull/100)*30;float:left;
												}
			
		/* INTRODUCTION ON THE WEBSITE */
		.aboutMe		{
							width:100%;
							//background:url(../img/backgrounds/noisy_net.png) top center repeat @themeColor;
							overflow:hidden;
							margin:20px 0 0;
						}
			.aboutMeInner	{
								width:@siteWidthFull;margin:0 auto;padding:20px 20px 0;clear:both;
							}									
				.aboutCopy	{
								width:(@siteWidthFull/100)*60;float:left;padding:0 0 20px 40px;
							}
				.aboutPhoto	{
								width:(@siteWidthFull/100)*30;float:left;text-align:center;margin:20px 0;
							}
					.aboutPhotoWrap	{
										border:4px solid @grayLighter;margin:0 auto 20px;display:block;.roundCorners(500px);
										width:200px;height:200px;overflow:hidden;
									}
						.aboutPhoto img {
											
										}
						.caption		{
							display: inline-block;width: 70%;color: @grayDark;font-family: @serifFamily;font-style: italic;line-height:1.4;
						}
						

/* =========================================================================================


QUOTE


========================================================================================= */
.quoteWrap		{
					width:100%;
					//background:url(../img/backgrounds/noisy_net.png) top center repeat @themeColor;
					overflow:hidden;
					margin:0;
				}
	.quoteWrapInner	{
						width:@siteWidthFull;margin:0 auto;padding:0 0 40px;clear:both;
					}

.blockquoteWrapper {
	width:100%;
	float:left;
}
	blockquote {
		border-top:1px dashed @grayDarker;
		border-bottom:1px dashed @grayDarker;
		//color:@grayLight;
		font-family: @serifFamily;
		font-size: @bodyFontSize;
		font-style: italic;
		//width: 500px;
		margin: 10px 0 0;
		padding: 30px 50px 20px 50px;
		//line-height: 1.45;
		position: relative;
		//color: #383838;
	}
		blockquote:before {
			display: block;
			content: "\201C";
			font-size: 80px;
			position: absolute;
			left:5px;
			top: 5px;
			color: @grayDarker;
		}
		blockquote:after {
			display: block;
			content: "\201D";
			font-size: 80px;
			position: absolute;
			right: 15px;
			bottom: 10px;
			color: @grayDarker;
		}
	blockquote cite {
		//color: #999999;
		font-family:@bodyFamily;
		font-size: @bodyFontSize;
		display: block;
		margin-top: 5px;
		//border-top:@grayLight 1px solid;
		//padding:20px 0 0;
		margin:20px 0 0;
		text-align:right;
	}
		blockquote cite:before {
			//content: "\2014 \2009";
		}
/* =========================================================================================


RESUMÉ


========================================================================================= */
.resumeWrap {
	width:@siteWidthFull;margin:0 auto;padding:0 20px;clear:both;
}
	.resumeSection {
		float:left;
		padding-right:10px;
		width:50%;
		&.end {
			padding-right:0;
			padding-left:10px;
		}
	}
		.cvSec h3 		{
							margin-bottom:0;
						}
.footnote {
	//border-top:1px solid @grayDarker;
	padding:10px 0 0;
	//text-align:right;
	width:100%;
}
	/*.footnote p,
	.footnote a {font-style: italic;}
/* =========================================================================================


FOOTER


========================================================================================= */
#footerWrapper			{
							width:100%;
						}
	#footerWrapperInner	{
							width:@siteWidthFull;margin:0 auto;padding:0 20px
						}
	#footerWrapper ul 	{
							list-style: none;
							padding: 20px 0;
							float:left;
							width:100%;
						}
	#footerWrapper li 	{
							display: block;
							float: left;
							line-height: 1.4;
							padding: 0 0.7em 0 0;
							
						&:first-child 	{
											border-left: 0 none;
											padding-left: 0;
										}
						}

/* =========================================================================================


BUTTONS


========================================================================================= */
.btn		{
	.noSelect;
	.roundCorners(5px);
	//padding:8px 12px 7px;
	padding:10px 13px;
	/* Border colour variable is found in var.less - .gradientBar */
	border-style: solid;
	border-width: 0 0 2px;
	color:@grayDark;
	font-family:@secondFamily;
	font-weight:normal;
	font-size:@bodyFontSize;
	//font-weight:bold;
	line-height:14px;
	.transition(.1s linear all);
	.gradientBar(@grayLighter, @grayLight);
	text-shadow: 0 -1px 0 (@white - 40%);
	text-align:center;
	cursor: pointer;
	display:inline-block;
	margin-bottom:15px;
	//text-transform: uppercase;
	letter-spacing:1px;
	/* Icons */
	.pictos {
		text-shadow: 0 -1px 0 (@white - 40%);
	}
	/* Lets look at our peusdo classes */
	&:hover {
		background-position: 0 -15px;
		text-decoration: none;
		color:@grayDark;
	}
	&:focus {
		//outline: 1px dotted #666;
	}
	&.flat {
		//border-width:1px;
		padding:8px 10px;
		text-transform:none;
		font-weight:normal;
	}
	&.half {
		width:70%;
	}
	&.large {
		padding:10px 20px;
		font-size:1.2em;
		margin-bottom:0.2em;
		.roundCorners(6px);
	}
	&.large:hover {
		background-position: 0 -30px;
	}
	&.success {
		color: @white;
		.gradientBar(@green, @greenDark);
		text-shadow: 0 -1px 0 (@gray - 40%);
	}
	&.info {
		color: @white;
		.gradientBar(@themeColor, @themeColorDark);
		text-shadow: 0 -1px 0 (@themeColorDark - 40%);
		.pictos {text-shadow: 0 -1px 0 (@themeColorDark - 40%);}
	}
	&.alert {
		color: @white;
		.gradientBar(@red, @redDark);
		text-shadow: 0 -1px 0 (@redDark - 40%);
		.pictos {text-shadow: 0 -1px 0 (@redDark - 40%);}
	}
	&.active,
	&:active {
		@shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.05);
		.box-shadow(@shadow);
		background-position: 0 -15px;
	}
	&.disabled {
		cursor: default;
		background-image: none;
		.reset-filter();
		.opacity(65);
		.box-shadow(none);
		.noSelect;
	}
	&[disabled] {
		cursor: default;
		background-image: none;
		.reset-filter();
		.opacity(65);
		.box-shadow(none);
		.noSelect;
	}
}
.btnGroup			{margin:0 0 10px;float:left;}
	.btnGroup .btn 	{
		.roundCorners(0px);
		float:left;
		border-right-width:1px;
		display:inline-block;
		position:relative;
	}
		.btnGroup .btn:first-child {
			.roundCorners(5px 0 0 5px);
			//border-right-width:1px;
		}
		.btnGroup .btn:last-child {
			.roundCorners(0 5px 5px 0);
			border-right-width:0;
		}
		.btnGroup .btn:active,
		.btnGroup .btn.active {
			
		}
/* =========================================================================================


SLIDER


========================================================================================= */
.sliderContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom:2px solid @black;
}

.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

	.iosSlider .slider {
		width: 100%;
		height: 100%;
	}
	
		.iosSlider .slider .item {
			float: left;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: 50% 50%;
			position:relative;
		}

/*
Main slides	
*/

.iosSlider .slider .item1 {
	//background-image: url(../img/backgrounds/hero1.jpg);
}
.iosSlider .slider .item2 {
	//background: url(../img/backgrounds/grid.gif) repeat top left;
	background-size: auto;
}
.iosSlider .slider .item3 {
	//background-image: url(../img/backgrounds/hero5.jpg);
}
.iosSlider .slider .item4 {
	//background-image: url(../img/backgrounds/hero2.jpg);
}

/*
	
Lets add some extras to the front page
	
*/
.iosSlider .slider .item .HeroWrapper {
	.noSelect;
	color:@white;
	width:@siteWidthFull;
	height:100%;
	margin:0 auto;
	position:relative;
	padding:0 20px;
}
	.hero {
		
	}
		.hero img {
			margin: 0 auto;
			display: block;
			max-width: 100%;
			position:absolute;
			bottom:0;
			left:0;
		}
	.iosSlider .slider .item .heroInfo {
		position:absolute;
		right:0;
		bottom:15px;
		width:30%;
	}
	
	.iosSlider .slider .item .heroInfo h3 {
		color:@black;
	}
	.iosSlider .slider .item .heroInfo p {
		color:@grayDark;
	}
		/*
.iosSlider .slider .item1 .captionInner {
			position:absolute;
			bottom:50px;
			right:0;
		}
		.iosSlider .slider .item2 .captionInner {
			position:absolute;
			bottom:50px;
			right:0;
		}
*/

/* Buttons */
.iosSliderButtons {
	//width:@siteWidthFull;
	height: 10px;
	//background:@black;
	margin:0 auto;
	padding:0 20px;
	bottom:30px;
	position:relative;
}
	.iosSliderButtonsInner {
		margin:0 auto;
		height:15px;
		width:@siteWidthFull;
	}
.iosSliderButtons .button {
	float: left;
	width: 15px;
	height: 15px;
	background: transparent;
	border:2px solid @themeColor;
	margin: 0 10px 0 0;
	opacity: 0.5;
	.roundCorners(50px);
	.transition(.1s linear all);
}
	.iosSliderButtons .button:hover {
		opacity:0.75;
	}
.iosSliderButtons .selected {
	background: @themeColor;
	opacity: 1;
}	
/* =========================================================================================


BLOG


========================================================================================= */
.post {
	margin:20px 0;
	border-color:#000;
	border-style:solid;
	border-width:0 0 1px;
}
	.post img {
		margin: 0 auto;
		display: block;
		max-width: 100%;
	}


/* =========================================================================================


TABLETS


========================================================================================= */

@media screen and (min-device-width: 720px) and (max-width: 1024px) {
	/* For general iPad layouts */
	body		{font-size:1.1em;}
	
	.navbarInner,
	.articleWrap,
	#footerWrapperInner,
	.itemPurchaseInfo,
	.aboutPhoto,
	.huxenIntro,
	.aboutMeInner,
	.quoteWrapInner,
	.resumeWrap,
	.iosSlider .slider .item .HeroWrapper,
	.iosSliderButtonsInner		{width:@siteWidthMid;}
	
	//.aboutCopy				{width:100%;padding-left:0;}
	//.articleCopy				{width:100%;padding-right:0;}
	
	#work						{height:520px;}
	
	.aboutCopy,
	.articleCopy				{width:(@siteWidthMid/100)*60;}
	.aboutPhoto,
	.itemPurchaseInfo			{width:(@siteWidthMid/100)*30;}
	
	/* ===================================================================================
	BUTTON
	=================================================================================== */	
	.btn {
		padding:14px 15px;
		&.flat {
			//width:auto;
		}
	}
}

/* =========================================================================================


MOBILE


========================================================================================= */
@media screen and (max-width: 719px) {
	
	body		{font-size:1.1em;}
		
	.homeTitle 					{text-align:center;}
	
	.navbarInner,
	.articleWrap,
	#footerWrapperInner,
	.itemPurchaseInfo,
	.aboutPhoto,
	.huxenIntro,
	.aboutMeInner,
	.quoteWrapInner,
	.resumeWrap				{width:100%;}
	
	.iosSlider .slider .item .HeroWrapper,
	.iosSlider .slider .item .captionInner,
	.iosSliderButtonsInner			{width:@siteWidthMob;}
	
		.huxenWrapper,
		.huxenDisclaimer		{display:none;}
		
	//.aboutMeInner				{padding:0;}
	
	#work						{height:240px;}
	
	.aboutCopy					{width:100%;padding-left:0;}
	.articleCopy				{width:100%;padding-right:0;}
	
	//.resumeWrap					{padding:0;}
	.resumeSection					{width:100%;}
	.resumeSection.end 				{padding-left:0px;}
	
	//#footerWrapperInner			{padding:0;}
	/* ===================================================================================
	BUTTON
	=================================================================================== */	
	.btn {
		width:100%;padding:16px 15px;
		&.flat {
			//width:auto;
		}
	}
	.btnGroup .btn 				{width:auto;}
	
	.iosSlider .slider .item .heroInfo {
		position:absolute;
		right:0;
		bottom:0;
		width:60%;
	}
}