.contentWrap{width:310px;margin:0 auto;padding:15px 5px 0 5px;}

#menu{width:165px;height:100%;display:block!important;float:left;}
	#menu ul{margin:0;padding:0;width:inherit;}
		#menu ul li{list-style-type:none;margin:0;}
			#menu ul li a:link,
			#menu ul li a:visited{border-bottom:solid #333 1px;box-shadow:0 1px 0 #727272;color:#fff;font-size:14px;font-family:arial;text-decoration:none;width:165px;display:block;padding:10px 0 10px 10px;text-shadow:0 1px 1px #000;}
			#menu ul li a:hover,#menu ul li a:active{background-color:#716f6f;}.active{background-color:#383737;background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#1e1d1d),color-stop(21%,#383737));}